#################  
## npm
#################

npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/

.idea/

/models/*.js
/routes/*.js
/services/*.js
/*.js

## These are on launch compiled bundles of css and js from less and coffee script
/public/bundles