extends layout

block content
    div.container

        div.masthead
            h3.muted= title
            div.navbar
                div.navbar-inner
                    div.container
                        ul.nav
                            li.active
                               a(href="#") Home
                            li
                                a(href="#") Projects
                            li
                                a(href="#") Services
                            li
                                a(href="#") Downloads
                            li
                                a(href="#") About
                            li
                                a(href="#") Contact

        div
            p Welcome to #{title}

        article(ng-controller='UserController')
            h2 Users
            ul
                li(ng-repeat='user in users')
                    {{user.name}}