doctype 5
html(ng-app)
    head
    title= title
    //link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,700')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    //link(rel='stylesheet', href='/bundles/stylesheets/style.css')

    body
        block content

    // load external scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js')

    // Load app and controllers
    script(src='/bundles/scripts/app.js')
    script(src='/bundles/scripts/controllers/users.js')